.carritomain{
    height: auto !important;
    margin-bottom: 100px;
}



.carritodiv{
    display: flex;
}

.carrito-title{
    margin-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 32px;
    }

    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 24px;
    }
}
.carrito-pago{
    margin-left: 50px !important;
    height: 180px   !important;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    h2{
        font-size: 20px;
    }

    h3{
        font-size: 30px; 
    }

    p{
        font-size: 15px;
    }

    
}

.carrito-items{
    height: 180px   !important;
    width: 100%;
    border: 1px solid black;
}


.producto-item{
    display: flex;
}

.producto-precio{
    display: grid;
    padding-top: 10px;
    padding-left: 50px;
    width: 250px !important;
    font-weight: 700;

}

.producto-data{
    p{
        padding-top: 10px;
    }
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.producto-foto{
    margin-right: 20px;
    background-size: cover !important;

    img{
        width: 175px;
        height: auto;
        padding: 2px;
    }
}

.btn{
    
    display: flex;
    align-items: center;
    background-position: center;
    padding: 0;
    margin-top: 2px;
    margin-left: 20px;
    height: 20px;
    box-shadow: none !important;
    border: none !important;
    &:hover{
        border: none !important;
        box-shadow: none !important;
    }
}

