body {
    background-color: white;
}


.navbar {
    padding: 0 !important;
    padding: 8px 30px 5px 30px !important;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 55px !important;
    margin-right: 90px !important;
}

.form-control {
    border-radius: 15px !important;
    height: 33px;
    background-color: #f5f3f4d8;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: rgba(0, 0, 0, 0.342) !important;
        background-color: #f5f3f4d8;
    }
    
}
.form-inline{
    padding-left: 90px !important;
}



.favbutton {
    background-color: transparent;
    /* margin-top: 20px; */
    margin-left: 10px;
    border-radius: 7px;
    padding: 3px;
    border: 0;

    img {
        height: 25px;
    }
}

.HomeBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 900;

    
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 530;
    text-transform: uppercase;
    font-size: 80px;
    color: #161A1D;
    margin: 0;
}

h2{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 35px;
    color: #161A1D;
}

}

.publi{
    margin-top: 15px;
    width: 100%;
    height: 250px;    
    background-size:cover;
    background-position: center;
}

.volume-control {
    position: absolute ;
    top: 40px; 
    left: 20px;
    z-index: 1; 
}

.fa-volume-mute {
    color: red; 
}


.fa-volume-up {
    color: rgb(255, 255, 255); 
}

/* Estilo para cada resultado de búsqueda */
.resultado-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;

    &:hover {
        filter: contrast(110%);
    }
}

/* Estilo para el contenedor de los resultados de búsqueda */
.resultados-busqueda {
    position: absolute;
    width: 100%;
    z-index: 9999;

    &:hover {
        cursor: pointer;
    }

}



.foto-elemento{
    width: 120px;
    height: 70px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

/* Estilos para el contenedor de la información del producto */
.info-elemento {
    display: flex;
    flex-direction: column; /* Hace que los elementos hijos se muestren uno debajo del otro */
    flex: 1; /* Hace que el contenedor ocupe todo el espacio disponible */
}

.precio-elemento{
    font-weight: 700;
}