

.dest{
    height: 1150px;
    display: flex;
}

.prod1{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 450px 450px ;
    grid-template-areas:
        "foto1 foto2 "
        "foto3 foto4 "
    ;
    grid-gap: 2px;
}

.prod2{
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    h2{
        font-weight: 600;
        padding-bottom: 10px;
    }

    h3{
        font-weight: lighter;
        font-size: 17px;
        padding-bottom: 5px;
    }

    h5{
        font-weight: lighter;
        font-size: 13px;
    }
}






.foto1{
    background-size: cover;
    height: 100%;
    width: 100%;
}


.foto2{
    background-size:cover;
    height: 100%;
    width: 100%;
}
.foto3{
    background-size: cover;
    height: 100%;
    width: 100%;
}
.foto4{
    background-size: cover;
    height: 100%;
    width: 100%;
}

.selectsize{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px 40px ;
    grid-template-areas:
        "size1 size2 size3 size4 size5 "
        "size6 size7 size8 size9 size10 "
    ;
    grid-gap: 10px;
    text-align: center;
    padding-right: 90px;  
    padding-bottom: 20px;
}

.size1, .size2, .size3{
    background-color: #f5f3f4d8;
    border-radius: 13px;
    display: flex;
    justify-content: center ;
    align-items: center;
    
}

.size4, .size5{
    background-color: #d3d0d2d8;
    border-radius: 13px;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.size6, .size7, .size8, .size9, .size10{
    background-color: #d3d0d2d8;
    border-radius: 13px;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.sold{
    color: #adabadd8;
    background-color: #d3d0d2d8;
}


.buybuttonprod{
    
    background-color: #161A1D;
    color: white;
    padding: 12px 70px 12px 70px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 620;
    border: 0;
    margin-bottom: 50px;

    &:hover{
        filter: contrast(120%);
    }
}

.resumenprod{
    padding-right: 80px;
}