*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

/* @font-face {
    font-family: 'Franklin Gothic Demi Cond Regular';
    src: url('fonts/Franklin Gothic Demi Cond Regular.ttf') format('truetype');
} */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: white;
}


.navbar {
    padding: 0 !important;
    padding: 8px 30px 5px 30px !important;
}


.navbar-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 55px !important;
}

.form-control {
    border-radius: 15px !important;
    height: 33px;
}

.favbutton {
    background-color: transparent;
    /* margin-top: 20px; */
    margin-left: 10px;
    border-radius: 7px;
    padding: 3px;
    border: 0;
}

.favbutton img {
    height: 25px;
}

.form-control {
    background-color: #f5f3f4d8;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: rgba(0, 0, 0, 0.342) !important;
    background-color: #f5f3f4d8;
}


.HomeBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 900;
    margin-top: 50px;
}



h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    color: #161A1D;
    margin: 0;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1200;
    text-transform: uppercase;
    font-size: 30px;
    color: #161A1D;
}

.nov2 h3{
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #161A1D;
}

.nov1 h3{
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #161A1D;
}

.buybutton{
    
    background-color: #161A1D;;
    color: white;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 620;
    border: 0;
}

.buybutton:hover{
    filter: contrast(70%);

}

.Novedades{
    padding: 100px 30px 1px 30px; /* top right bot left */
    margin-bottom: 130px;
}

.nov1{
    height: 480px;
    padding-right: 15px;
    margin-bottom: 150px;
}

.nov1img{
    height: 100%;
    background-color: #f5f3f4d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nov1img img{
    height: 320px;
    width: 570px;
    justify-content: center;
}

.nov1img:hover{
    transform: scale(1.02);
    transition: all 0.6s;
    cursor: pointer;
}

.nov2img:hover{
    transform: scale(1.02);
    transition: all 0.6s;
    cursor: pointer;
}

.nov2img{
    height: 100%;
    background-color: #f5f3f4d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nov2img img{
    height: 100%;
    width: auto;
    justify-content: center;
}

.nov2{
    height: 480px;
    padding-left: 15px;
}

.row2{
    display: flex;
}

.proddest{
    height: 400px;
    margin-bottom: 40px;
}

.proddest:hover{
    cursor: pointer;
    filter: contrast(110%);
}

.footerdiv{
    background-color: #161a1d;
    height: 450px;
}

.card{
    border: 1  !important;
}

.volume-control:hover{
    cursor: pointer;
}



@media only screen and (max-width:1024px){


    .Bannerimg video{
        height: 500px !important;
    }

    h1{
        font-size: 45px !important;
    }




    .proddest{
        justify-content: center;
        margin-bottom: 40px;
    }


}





@media only screen and (max-width:768px){

    .Bannerimg video{
        height: 380px !important;
    }

    h1{
        font-size: 35px !important;
    }

    h2{
        font-size: 25px !important;
    }

}


@media only screen and (max-width:425px){

    .Bannerimg video{
        height: 200px !important;
    }

    h1{
        font-size: 35px !important;
    }

    h2{
        font-size: 22px !important;
        text-align: center;
    }

    .nov1{
        margin-bottom: 80px !important;
    }

    .nov1img img{
        height:170px !important ;
        width: 300px;
    }

    .nov1img{
        height: 400px;
    }


    .nov2img img{
        height:300px !important ;
        width: 310px;
    }

    .nov2img{
        height: 400px;
    }

    .proddest{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@media only screen and (max-width:375px){

    .Bannerimg video{
        height: 190px !important;
    }


    .nov1{
        margin-bottom: 80px !important;
    }

    .nov1img img{
        height:150px !important ;
        width: 260px;
    }

    .nov1img{
        height: 300px;
    }


    .nov2img img{
        height:300px !important ;
        width: 310px;
    }

    .nov2img{
        height: 300px;
    }

}



@media only screen and (max-width:375px){

    .Bannerimg video{
        height: 170px !important;
    }

    .Novedades{
        margin: 0;
    }

    .nov1{
        margin-bottom: 5px !important;
        height: 400px;
    }

    .nov1img img{
        height:110px !important ;
        width: 210px;
    }

    .nov1img{
        height: 200px;
    }


    .nov2img img{
        height:240px !important ;
        width: 270px;
    }

    .nov2img{
        height: 200px;
    }

}



@media only screen and (max-width:991px) and (min-width: 320px) {

    .logo img {
        height: 60px !important;
        margin-top: 10px;
    }


    .navbar-nav {
        display: grid;
    }

    .form-control {
        border-radius: 12px !important;
    }

    .favbutton {
        background-color: transparent;
        /* margin-top: 20px; */
        margin-left: 10px;
        border-radius: 7px;
        padding: 3px;
        border: 0;
    }


    .favbutton img {
        height: 25px;
    }

    .form-inline {
        flex-wrap: nowrap;
    }

    .logo img{
        height: 55px !important;
        margin-top: 0;
    }

    .Bannerimg img {
        background-size: cover;


    }
    


    

}


/* COMENTARIO PARA SABER SI TA TODO OK EN GITHUB */